<ion-content [fullscreen]="true" class="detail-course-content">
  <div class="red-header">
    <button class="back-btn" (click)="goBack()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </button>
    <h1 class="header-title">Shopping Cart</h1>
  </div>

  <div class="main-container">
    <div class="empty-cart-container">
      <div class="icon-circle">
        <ion-icon name="cart-outline"></ion-icon>
      </div>
      <h2>Your Cart is Empty</h2>
      <p>Add courses to your cart and continue your learning journey.</p>
    </div>
  </div>
</ion-content>

<div class="bottom-action">
  <ion-button expand="block" class="explore-btn" routerLink="/tabs/home">
    Explore Courses
  </ion-button>
</div>